<div class="container">
    <h1>Crear Nueva Nota</h1>
    <div class="content">
        <div class="row">
            <div class="col">
                <a>Titulo:</a>
            </div>
            <div class="col-2">
                <input>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a>Autor(es):</a>
            </div>
            <div class="col-2">
                <input>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a>Categoría:</a>
            </div>
            <div class="col-2">
                <select>
                    <option></option>
                </select>                
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <a>Entrada:</a>
            </div>
        </div>
        <div class="row2">
            <textarea></textarea>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <a>Nota:</a>
            </div>
        </div>
        <div class="row2">
                <textarea></textarea>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <a>Imágenes:</a>
            </div>
            <div class="col-2">
                <input type="file"
                accept="image/*" multiple>            
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a>Pie de foto:</a>
            </div>
            <div class="col">
                <input>
            </div>
            <div class="col">
                    <input type="radio">
                </div>
            <div class="col">
                <a>Elegir&nbsp;esta&nbsp;como&nbsp;foto&nbsp;de&nbsp;portada</a>
            </div>
        </div>
    </div>
</div>

