
    
<ul class="topnav2"></ul>
<div style="list-style:none; margin-left: 95px;" id="capa1" >
    <li class="left"><a href="#logo"></a></li>
</div>
<div>
    <ul class="topnav">
      <!-- <li><a class="Reportajes" href="#home">Reportajes</a></li>-->
      <li><a href="#Reportajes">Reportajes</a></li>
      <li><a href="#Reportajes">Reportajes</a></li>
      <li></li>
      <li><a href="#Imperdibles">Imperdibles</a></li>
      <li></li>
      <li><a href="#Zona de notas">Zona de notas</a></li>
      <li></li>
      <li><a href="#Zona de Opinion">Zona de Opinion</a></li>
      <li>></li>
      <li><a href="#quienes somos">¿Quiénes somos?</a></li>
      <li style="list-style:none; margin-left: 100px; margin-right: 10px; margin-top: 3px;;"  class="right"></li>
      <li style="list-style:none; margin-right: 10px; margin-top: 3px;;" class="right"></li>
      <li style="list-style:none; margin-right: 10px;  margin-top: 3px;;" class="right"></li>
      <li style="list-style:none; margin-right: 10px;  margin-top: 3px;;"  class="right" style="margin-right: 100px;;"></li>
    </ul>
    </div>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lora" />

    <div class="container">
        <h1>Crear Nueva Nota</h1>
        <div class="content">
            <div class="row">
                <div class="col">
                    <a>Titulo:</a>
                </div>
                <div class="col-2">
                    <input>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a>Autor(es):</a>
                </div>
                <div class="col-2">
                    <input>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a>Categoría:</a>
                </div>
                <div class="col-2">
                    <select>
                        <option></option>
                    </select>                
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a>Entrada:</a>
                </div>
            </div>
            <div class="row2">
                <textarea></textarea>
            </div>
            <div class="row">
                <div class="col">
                    <a>Nota:</a>
                </div>
            </div>
            <div class="row2">
                    <textarea></textarea>
            </div>
            <div class="row">
                <div class="col">
                    <a>Imágenes:</a>
                </div>
                <div class="col-2">
                    <input type="file"
                    accept="image/*" multiple>            
                </div>
            </div>
        </div>
    </div>

