<app-header></app-header>
<button class="btn btnback" (click)="goBack()"><i class="fa fa-arrow-left"> Regresar</i></button>
<form [formGroup]="notaForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <h1>{{nota}} Nota</h1>
        <div class="content">
            <div class="row">
                <div class="col">
                    <a>Titulo:</a>
                </div>
                <div class="col-2">
                    <input name="titulo">{{nota.titulo}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a>Autor(es):</a>
                </div>
                <div class="col-2">
                    <input name="autor">{{autor.nombre}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a>Categoría:</a>
                </div>
                <div class="col-2">
                    <select *ngFor="let item of categorias">
                        <option value="" selected disabled hidden>{{categoria.nombre}}</option>
                        <option>{{item.nombre}}</option>
                    </select>                
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <a>Entrada:</a>
                </div>
            </div>
            <div class="row2">
                <textarea name="entrada">{{nota.entrada}}</textarea>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <a>Nota:</a>
                </div>
            </div>
            <div class="row2">
                    <textarea name="nota">{{nota.nota}}</textarea>
            </div>
            <br>
            <div class="fotos">
                <div class="row">
                    <div class="col">
                        <a>Imágenes:</a>
                    </div>
                    <div class="col-2">
                        <input type="file"
                        accept="image/*" multiple>            
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <a>Pie de foto:</a>
                    </div>
                    <div class="col">
                        <input name="pie de foto">
                    </div>
                    <div class="col">
                            <input type="radio" name="portada">
                        </div>
                    <div class="col">
                        <a>Elegir&nbsp;esta&nbsp;como&nbsp;foto&nbsp;de&nbsp;portada</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="submit" name="guardar" [routerLink]="notaid">Guardar</button>
            </div>
        </div>
    </div>
</form>

