<div class="container">
    <h1>{{nota}} Nota</h1>
    <div class="content">
        <div class="row">
            <div class="col">
                <a>Titulo:</a>
            </div>
            <div class="col-2">
                <input name="titulo">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a>Autor(es):</a>
            </div>
            <div class="col-2">
                <input name="autor">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a>Categoría:</a>
            </div>
            <div class="col-2">
                <select>
                    <option></option>
                </select>                
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <a>Entrada:</a>
            </div>
        </div>
        <div class="row2">
            <textarea name="entrada"></textarea>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <a>Nota:</a>
            </div>
        </div>
        <div class="row2">
                <textarea name="nota"></textarea>
        </div>
        <br>
        <div class="fotos">
            <div class="row">
                <div class="col">
                    <a>Imágenes:</a>
                </div>
                <div class="col-2">
                    <input type="file"
                    accept="image/*" multiple>            
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <a>Pie de foto:</a>
                </div>
                <div class="col">
                    <input name="pie de foto">
                </div>
                <div class="col">
                        <input type="radio" name="portada">
                    </div>
                <div class="col">
                    <a>Elegir&nbsp;esta&nbsp;como&nbsp;foto&nbsp;de&nbsp;portada</a>
                </div>
            </div>
        </div>
        <div class="row">
            <button name="publicar">Publicar</button>
        </div>
    </div>
</div>

