.header{
    padding: 5px 20px;
    background-color: #100101;
    display: flex;
}

.header > .logo{
    flex: 1;
}

.header > .logo > img{
    height: 70px;
}

.header > .menu > .option{
    color: #fff;
    cursor:pointer;
}
.header > .menu{
    align-items: center;
    display: flex;
}