<app-header></app-header>
<div class="All-container">
    <div class="content-styling">
        <div class="header-misnotas">
            <div class="notastitulo">
                <b>Mis Notas</b>
            </div>
            <hr>
        </div>
        <div class="configadmin">
            <form [formGroup]="form" (ngSubmit)="submit()" class="filtros">
                <div class="input-container">
                    <label for="categorias">Categoria: </label>
                    <select name="categorias" formControlName="categorias" id="">
                        <option *ngFor="let c of categorias; let i = index" [value]="categorias[i].id">
                            {{categorias[i].nombre}}
                        </option>
                    </select>
                </div>

                <div class="input-container">
                    <label for="periodistas">Periodista: </label>
                    <select name="periodistas" formControlName="periodistas" id="">
                        <option *ngFor="let p of periodistas; let i = index" [value]="periodistas[i].id">
                            {{periodistas[i].nombre}}
                        </option>
                    </select>
                </div>

                <div class="input-container">
                    <i class="fa fa-search"></i>
                    <div class="espacio"></div>
                    <input class="input-field" type="text" placeholder="Nombre de la nota" formControlName="nombre"
                        name="psw">
                </div>

                <div class="input-container fechas-container">
                    <i class="fa fa-calendar"></i>
                    <div class="espacio"></div>
                    <label for="fechaInicio">Del </label>
                    <input type="text" name="fname" placeholder="DD/MM/YYYY" formControlName="fechaInicio"
                        class="field_fecha">
                    <label for="fechaFin"> al </label>
                    <input type="text" name="fname" placeholder="DD/MM/YYYY" formControlName="fechaFin"
                        class="field_fecha">
                </div>
                <div class="input-container button-container">
                    <button class="submitbtn"><i class="fa fa-search"></i>Buscar</button>
                </div>
            </form>
            <button class="btn btnadd" (click)="crearNota()"><i class="fa fa-plus-circle"></i> Crear nueva nota</button>
        </div>
        <br>
        <div class="notas">
            <app-nota-card *ngFor="let n of notas" [nota]="n" (mostrarDetalles)="mostrarDetalle($event)"
                (editarNota)="editar($event)">
            </app-nota-card>
        </div>

    </div>
</div>