<app-header></app-header>
<div class="All-container">
    <div class="content-styling">
        <div class="header-misnotas">
            <div class="notastitulo">
                <b>Mis Notas</b>
            </div>
            <hr>
        </div>
        <div class="configadmin">
            <form [formGroup]="form" (ngSubmit)="submit()" class="filtros">
                <label for="categorias">Categoria</label>
                <select name="categorias" formControlName="categorias" id="">
                    <option *ngFor="let c of categorias; let i = index"[value]="categorias[i].id">
                        {{categorias[i].nombre}}
                    </option>
                </select>
                <label for="periodistas">Periodista</label>
                <select name="periodistas" formControlName="periodistas" id="">
                    <option *ngFor="let p of periodistas; let i = index"[value]="periodistas[i].id">
                        {{periodistas[i].nombre}}
                    </option>
                </select>
                
                <button>submit</button>
            </form>
            <button class="btn btnadd"><i class="fa fa-plus-circle"></i> Crear nueva nota</button>
        </div>
        <br>
        <div class="notas">
            <app-nota-card *ngFor="let n of notas"
                            [nota]="n"
                            (mostrarDetalles)="mostrarDetalle($event)"
                            (editarNota)="editar($event)">
            </app-nota-card>
        </div>

    </div>
</div>