.text-card{
    font-family: 'Lora', serif;
}
.content-styling{
    margin:5em;
}
.All-container {
    margin:0;
}
.input-container{
    margin-left:2em;
    margin-bottom: 1em;
    font-family: 'Lora', italic;
    display:flex;
    align-items: center;
}

input[type='text']{
    font-size:16px;
    margin-left: 5px;
    margin-right: 5px;
}

.fechas-container {
    display: flex;
    flex-wrap: wrap;
}

::-webkit-input-placeholder {
    font-family: 'Lora', italic;
    font-size: 16px;
  }

.card{
    width: 180px;
    height: 200px;
    margin: 15px;

    background-color: #F1EFEF;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}
.text-card{
    padding: 10px;
}


.espacio {
    width: 5px
}

.notastitulo {
    font-family: 'Lora', italic;
    font-size: 30px;
    display: flex;
    
}

.notas{
    display: flex;
    flex-wrap: wrap;
}
.configadmin{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
button {
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-family: 'Lora', italic;
    font-size: 16px;
    cursor: pointer; /* Mouse pointer on hover */
    height: 50px;
  }
  .btn{
    background-color: #235152; /* Blue background */
  }
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: #34797B;
  }

  .submitbtn:hover{
    background-color: #395E32; /* Blue background */
  }
  .submitbtn{
    background-color: #253C20;
  }

  select{
    padding: 12px 16px; /* Some padding */
    font-family: 'Lora', italic;
    font-size: 16px;
    margin-left: 10px;
  }
  i{
      font-size: 16px;
  }
  .button-container{
      display: flex;
      justify-content: center;
  }