<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="All-container">
    <div class="content-styling">
        <div class="header-misnotas">
            <div class="notastitulo">
                <b>Mis Notas</b>
            </div>
            <hr>
        </div>

        <div class="input-container">
            <i class="fa fa-search icon"></i>
            <div class="espacio"></div>
            <input height = 200px, class="input-field" type="text" placeholder="Categoria o nota" name="psw">
        </div>

        <div class="input-container">
            <i class="fa fa-calendar icon"></i>
            <div class="espacio"></div>
            <input type="text" name="fname" placeholder="DD/MM/YYYY" class="field_fecha">
        </div>
        <br>
        
    </div>
</div>