<app-header></app-header>
<div>
<table class="tabla1">
<tr>
  <td>
    <table class="content tabla2">
      <tr>
        <td class="header td1">
         
          <table  class= "tabla3">  
            <tr>
              <td class="innerpadding borderbottom" height="70">
                <table class="tabla4"  >
                  <tr>
                    <td class="subhead tdPad1">
                      REPORTAJE 
                    </td>
                  </tr>
                  <tr>
                    <td class="h1" style="padding: 5px 0 0 0;">
                      Titulo de la publicación 
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="innerpadding">
          <table  class= "tabla4">
              <tr>
              <td class="bodycopy">
                    Desde el 2013, el promedio de las personas que esperan una donación, el 89% no consiguen un trasplante (proveniente de una donación cadavérica). según datos del Consejo Estatal de Trasplantes de Órganos y Tejidos Jalisco (CETOT). Si bien, es cierto que las donaciones cadavéricas dependen de muchos factores para concretarse, el mismo CETOT reporta que uno de cada tres casos en los que la familia de pacientes candidatos se niegan a realizar la donación es por la existencia de diversos mitos o creencias, los cuales pueden ser religiosos; relacionados al tráfico de órganos; a la condición de su ser querido fallecido, entre otros. La falta de donación de órganos genera que, en promedio, 53 personas mueran mensualmente en Jalisco por enfermedades del riñón – el órgano más demandado entre los jaliscienses que esperan una donación.
              </td>
              
            </tr>
          </table>
        </td>
      </tr>
       <tr>
        <td class="innerpadding" >
          <img class="fix" src="image.JPG"/>
        </td>
       
      </tr>
      <tr>
            <td class="pieImage innerpadding">
                    Fotografía: Itzel Ximena Torres · @ximena_tra 
             </td>
      </tr>
      <tr>
            <td class="tdPad3">
              <table class="buttonwrapper tabla5" >
                <tr>
                  <td class="button" height="45">
                    Por:
                    Ilustración de poertada:

                  </td>
                </tr>
              </table>
            </td>
          </tr>
      <tr>
        <td class="innerpadding bodycopy">
        </td>
      
      </tr>
      <tr>
            <td class="innerpadding">
              <img class="fix" src="image2.JPG" />
            </td>
           
          </tr>
       </table>

    </td>
  </tr>
</table>
</div>
