.pageContent{
    padding: 40px;
}
.notasCategoria:nth-last-child(n+2){
    margin-bottom: 40px;
}
.notasCategoria > .titulo{
    font-size: 25px;
    display: inline-block;
    border-bottom: 3px solid #004FAE;
    margin-bottom: 20px;
    padding-bottom: 5px;
    padding-right: 120px;
}
.notasCategoria > .notas{
    display: flex;
    flex-wrap: wrap;
}
.notasCategoria > .notas > .nota{
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #d2d2d2;
}
.notasCategoria > .notas > .nota > .content{
    padding: 10px;
    background-color: #e6e6e6;
}
.notasCategoria > .notas > .nota > .content > .firstRow{
    display: flex;
}
.notasCategoria > .notas > .nota > .content > .firstRow > .fecha{
    flex: 1;
    font-size: 14px;
    color: #9a9a9a;
}
.notasCategoria > .notas > .nota > .content > .firstRow > .categoria{
    color: #720500;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}
.notasCategoria > .notas > .nota > .imagen{
    display: flex;
}
.notasCategoria > .notas > .nota > .imagen > img{
    max-width: 100%;
    max-height: 150px;
}
.loadingPage{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height:calc(100vh - 164px);
}
.loadingPage > i{
    font-size: 40px;
}
